<div class="w3-half w3-container w3-blue" id="LoginContainer" style="margin-left: 20%;margin-top: 15%;">
    
    <div class="w3-row">
      
      <div class="box" id="loginBox">
      <h4 style="text-align:center"><u>Welcome to Agile Project</u></h3>
      <h4 style="text-align:center"><u>Management Course.</u></h3></br>
    
                     <h4 style="color:green;text-align:center;"><strong><u>Congratulations Again ....</u></strong>
                     </h4></br>

                    <p style="color:white;text-align:center;width:100%;padding: 0% 15% !important;font-size: 20px !important;">You have successfully completed the Course. Your certificate will be emailed to your registered email ID</p>

                  

      </div>
    </div>
</div>
