
<div class="w3-half w3-container w3-blue" id="LoginContainer" style="margin-left: 20%;margin-top: 15%;">
    
    <div class="w3-row">
      
      <div class="box" id="loginBox">
      <h4 style="text-align:center">Welcome to Agile Project</h3>
      <h4 style="text-align:center">Management Course.</h4></br>
    
       <p style="font-size:15px;line-height: 30px;">With the advancement of software development, technologies and business requirements, the traditional models are not robust enough to cater the demands. Therefore, more flexible software development models were required.</p>

  
      <button  class="btn btn-primary" ng-click="prevPage()" style="background-color: #16A085;border: none;" >Back</button>
     <button  class="btn btn-primary" ng-click="nextPage()" style="float:right;background-color: #16A085;border: none;">Next</button>
    </div>
       
    
    </div>
    </div>
  </div>




