
<div class="w3-half w3-container w3-blue" id="LoginContainer" style="margin-left: 20%;margin-top: 15%;">
    
    <div class="w3-row">
      
      <div class="box" id="loginBox">
      <h4 style="text-align:center">Welcome to Agile Project</h3>
      <h4 style="text-align:center">Management Course.</h3></br>
    
       <p style="font-size:15px;line-height: 30px;">Therefore, it is best to relate agile project management to the software development process when understanding it. From the inception of software development as a business, there have been a number of processes following, such as the waterfall model.</p></br>

  
       
	   <button  class="btn btn-primary" ng-click="prevPage()" style="background-color: #16A085;border: none;" >Back</button>
     <button  class="btn btn-primary" ng-click="nextPage()" style="float:right;background-color: #16A085;border: none;">Next</button>
    </div>
       
    
    </div>
    </div>
  </div>




