<div class="w3-half w3-container w3-blue" id="LoginContainer" style="margin-left: 20%;margin-top: 15%;background-color:#80cabc;">
    
    <div class="w3-row">
      
      <div class="box" id="loginBox">
      <h4 style="text-align:center">Welcome to Agile Project</h3>
      <h4 style="text-align:center">Management Course.</h3></br>
    
       <p style="padding:15px 5px 10px 5px;line-height:30px;text-align:center; color:#0a2106;font-weight: bold;">

	You have successfully completed reading the course material. To get Certification you have to answer at least 4 questions out of 5 </p></br>
	<h4 style="text-align:center;color:red;font-weight:bold;font-size:18px;">GOOD LUCK !!!"	</h4>	</br>

  
       <button  class="btn btn-primary" ng-click="nextPage()" id="primaryButton" style="float:right;margin-top:15px;height:50px;color:#fff;background-color: #16A085;border: none;">Go To Test</button></br></br>
		<button  class="btn btn-primary" ng-click="prevPage()" id="primaryButton" style="float:right;margin-top:10px;margin-bottom:10px;height:50px;color:#fff;background-color: #16A085;border: none;">Back To Course</button>
    </div>
       
    
    </div>
    </div>
  </div>


